@import "tailwindcss";


/* Register Segoe UI Variable font from the public folder */
@font-face {
    font-family: "Segoe UI Variable";
    src: url("/fonts/SegUIVar.ttf") format("truetype");
    font-weight: 100 900; /* variable weight range */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ImpactCustom';
    src: url('/fonts/impact.ttf') format('truetype'),
    url('/fonts/Impacted.ttf') format('truetype'),
    url('/fonts/unicode.impact.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* avoids invisible text while loading */
}

@theme{
    --color-dark: #131212;
    --color-primary: #be2428;
    /* Expose the font to Tailwind utilities */
    --font-segoe: "Segoe UI Variable", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-impact: "ImpactCustom", sans-serif;
    /* Optionally make it the default for font-sans */
    --font-sans: var(--font-segoe);
    /* Custom breakpoint */
    --breakpoint-md: 1024px;
}


* {
    @apply leading-11 tracking-wide font-segoe
}