@import "tailwindcss";


/* Register Segoe UI Variable font from the public folder */
@font-face {
    font-family: "Segoe UI Variable";
    src: url("/fonts/SegUIVar.ttf") format("truetype");
    font-weight: 100 900; /* variable weight range */
    font-style: normal;
    font-display: swap;
}

/* DIN Next LT Arabic - UltraLight */
@font-face {
    font-family: "DINNextLTArabic";
    src: url("/fonts/din/ArbFONTS-DINNextLTArabic-UltraLight-1.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/* DIN Next LT Arabic - Light */
@font-face {
    font-family: "DINNextLTArabic";
    src: url("/fonts/din/ArbFONTS-DINNEXTLTARABIC-LIGHT-1.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* DIN Next LT Arabic - Regular */
@font-face {
    font-family: "DINNextLTArabic";
    src: url("/fonts/din/ArbFONTS-DINNextLTArabic-Regular-2.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* DIN Next LT Arabic - Medium */
@font-face {
    font-family: "DINNextLTArabic";
    src: url("/fonts/din/ArbFONTS-DINNextLTArabic-Medium-2.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* DIN Next LT Arabic - Bold */
@font-face {
    font-family: "DINNextLTArabic";
    src: url("/fonts/din/ArbFONTS-DINNextLTArabic-Bold-2.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* DIN Next LT Arabic - Heavy */
@font-face {
    font-family: "DINNextLTArabic";
    src: url("/fonts/din/ArbFONTS-DINNextLTArabic-Heavy-1.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* DIN Next LT Arabic - Black */
@font-face {
    font-family: "DINNextLTArabic";
    src: url("/fonts/din/ArbFONTS-DINNextLTArabic-Black-2.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

:lang(ar), [lang="ar"] {
    font-family: "DINNextLTArabic", sans-serif !important;
}

@font-face {
    font-family: 'ImpactCustom';
    src: url('/fonts/impact.ttf') format('truetype'),
    url('/fonts/Impacted.ttf') format('truetype'),
    url('/fonts/unicode.impact.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap; /* avoids invisible text while loading */
}

@theme{
    --color-dark: #131212;
    --color-primary: #bf2328;
    /* Expose the font to Tailwind utilities */
    --font-segoe: "Segoe UI Variable", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-impact: "ImpactCustom", sans-serif;
    /* Optionally make it the default for font-sans */
    --font-sans: var(--font-segoe);
    /* Custom breakpoint */
    --breakpoint-md: 1024px;
}

* {
    @apply leading-11 tracking-wide font-segoe
}

[lang="en"] * .title,
[lang="fr"] * .title {
    @apply font-impact;
}